Repository bitsky-team/bitsky, pull requests merged in 2020-03, with the labels that each got.

#57 [ALL] Update dependencies & fix redux
  projects/api/package.json
  projects/api/yarn.lock
  projects/desktop/package.json
  projects/desktop/src/components/atoms/common/Alert.tsx
  projects/desktop/src/components/atoms/singleForm/input/Input.tsx
  projects/desktop/src/components/atoms/singleForm/input/InputBorder.tsx
  projects/desktop/src/components/atoms/singleForm/input/InputWithError.tsx
  projects/desktop/src/components/molecules/languageChooser/LanguageChooser.tsx
  projects/desktop/src/components/molecules/languageChooser/LanguageChooserDialog.tsx
  projects/desktop/src/components/molecules/singleForm/LeftSide.tsx
  projects/desktop/src/components/molecules/singleForm/RightSide.tsx
  projects/desktop/src/components/molecules/singleForm/SingleFormContainer.tsx
  projects/desktop/src/components/molecules/singleForm/fields/SFPasswordField.tsx
  projects/desktop/src/constants/colors.ts
  projects/desktop/src/containers/LoginContainer.tsx
  projects/desktop/src/containers/RegisterContainer.tsx
  projects/desktop/src/index.tsx
  projects/desktop/src/interfaces/alerts.ts
  projects/desktop/src/interfaces/dialogs.ts
  projects/desktop/src/interfaces/forms.d.ts
  projects/desktop/src/interfaces/forms.ts
  projects/desktop/src/interfaces/generics.d.ts
  projects/desktop/src/interfaces/generics.ts
  projects/desktop/src/interfaces/redux.d.ts
  projects/desktop/src/interfaces/redux.ts
  projects/desktop/src/interfaces/theme.d.ts
  projects/desktop/src/interfaces/theme.ts
  projects/desktop/src/redux/helpers/theme.ts
  projects/desktop/src/redux/reducers/theme.ts
  projects/desktop/src/redux/store/index.ts
  projects/desktop/yarn.lock
  yarn.lock
Labels: 🔌 api, 🔝 enhancement, 🖥️ desktop

#59 [API] Fix integration tests
  .travis.yml
  projects/api/__tests__/setup.ts
  projects/api/__tests__/specs/auth/create.ts
  projects/api/ormconfig.json
  projects/api/package.json
  projects/api/src/app.ts
  projects/api/src/controllers/authController.ts
  projects/api/src/database.ts
  projects/api/src/middlewares/common.ts
Labels: 🔌 api, 🔝 enhancement

#61 [ALL] Update README
  README.md
  projects/api/README.md
Labels: 📚 documentation, 🔌 api, 🖥️ desktop

#62 [API] Add tests for login
  package.json
  projects/api/__tests__/setup.ts
  projects/api/__tests__/specs/auth/login.ts
Labels: 🔌 api, 🔝 enhancement

#63 [API] Remove greetings from tests
  projects/api/__tests__/setup.ts
  projects/api/src/app.ts
Labels: 🔌 api, 🔝 enhancement

#64 [ALL] Migrate to ESLint
  projects/api/.eslintrc.js
  projects/api/__tests__/specs/auth/login.ts
  projects/api/jest.config.js
  projects/api/package.json
  projects/api/src/middlewares/validateBody.ts
  projects/api/src/utils/ServerLogger.ts
  projects/api/tslint.json
  projects/api/yarn.lock
  projects/desktop/.eslintrc.js
  projects/desktop/cypress/integration/homepage.js
  projects/desktop/cypress/integration/languageChooser.js
  projects/desktop/cypress/integration/register.js
  projects/desktop/cypress/plugins/index.js
  projects/desktop/package.json
  projects/desktop/src/Router.tsx
  projects/desktop/src/components/atoms/singleForm/input/Input.tsx
  projects/desktop/src/components/atoms/singleForm/input/InputWithError.tsx
  projects/desktop/src/components/molecules/languageChooser/LanguageChooser.tsx
  projects/desktop/src/constants/colors.ts
  projects/desktop/src/constants/misc.ts
  projects/desktop/src/constants/validators.ts
  projects/desktop/src/containers/LoginContainer.tsx
  projects/desktop/src/containers/RegisterContainer.tsx
  projects/desktop/src/index.tsx
  projects/desktop/src/serviceWorker.js
Labels: 🔌 api, 🔝 enhancement, 🖥️ desktop

#67 [DESKTOP/API] Fix migration from tslint to eslint
  projects/api/package.json
  projects/api/yarn.lock
  projects/desktop/package.json
  projects/desktop/tslint.json
  projects/desktop/yarn.lock
Labels: 🔌 api, 🔝 enhancement, 🖥️ desktop
